@model SignUpViewModel
@using (Html.BeginForm("SignUp", "Administration", FormMethod.Post, new { @id = "SignUpForm", @enctype = "multipart/form-data" }))
{
    <section>
        <div class="container">
            @Html.ValidationSummary(null, new { @class = "text-danger" })
            <div class="row justify-content-center">

                <div class="col-12">
                    <div class="row">
                        <div class="col text-center">
                            <h1>User Registration</h1>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", placeholder = "Email Address" })
                            @Html.ValidationMessageFor(model => model.EmailAddress, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
                            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                        </div>
                        <div class="col">
                            @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", type = "password" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col mt-4">
                            @Html.DropDownList("RoleId", new SelectList(Model.UserRoles, "Id", "Name"), "Select Role", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RoleId, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ProfileImage" class="control-label"></label>
                                <div class="custom-file">
                                    <input asp-for="ProfileImage" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose Profile Picture</label>
                                </div>
                                <span asp-validation-for="ProfileImage" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-start mt-4">
                        <div class="col">
                            <button type="submit" class="btn btn-primary mt-4">Register</button>
                            <a href="/" class="btn btn-danger mt-4">Cancel</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
}

<script>

    $(document).ready(function () {

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            console.log(fileName);
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    })
</script>