@model VisaTracking.Models.Enrollment

@{
    ViewData["Title"] = "Edit";
}
<div class="row text-center">
    @if (TempData["SuccessMessage"] != null)
    {
        <span class="alert alert-success">@TempData["SuccessMessage"]</span>
    }
</div>
<section>
    @using (Html.BeginForm("Edit", "Enrollments", FormMethod.Post, new { @id = "EditEnrollmentForm", @enctype = "multipart/form-data" }))
    {
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-12">
                    <div class="row">
                        <div class="col text-center">
                            <h1>Edit Enrollment</h1>
                        </div>
                        <hr />
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <label asp-for="StudentName" class="control-label"></label>
                            <input asp-for="StudentName" class="form-control" />
                            <span asp-validation-for="StudentName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <label asp-for="FatherName" class="control-label"></label>
                            <input asp-for="FatherName" class="form-control" />
                            <span asp-validation-for="FatherName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <label asp-for="ContactNo" class="control-label"></label>
                            <input asp-for="ContactNo" class="form-control" />
                            <span asp-validation-for="ContactNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <label asp-for="EmailAddress" class="control-label"></label>
                            <input asp-for="EmailAddress" class="form-control" />
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <label asp-for="CNICNumber" class="control-label"></label>
                            <input asp-for="CNICNumber" class="form-control" />
                            <span asp-validation-for="CNICNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <label asp-for="PassportNumber" class="control-label"></label>
                            <input asp-for="PassportNumber" class="form-control" />
                            <span asp-validation-for="PassportNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <label asp-for="LastQualification" class="control-label"></label>
                            <input asp-for="LastQualification" class="form-control" />
                            <span asp-validation-for="LastQualification" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <label asp-for="ApplyForCountry" class="control-label"></label>
                            <input asp-for="ApplyForCountry" class="form-control" />
                            <span asp-validation-for="ApplyForCountry" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <label asp-for="GradesObtained" class="control-label"></label>
                            <input asp-for="GradesObtained" class="form-control" />
                            <span asp-validation-for="GradesObtained" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <label asp-for="PrefferedCourse" class="control-label"></label>
                            <input asp-for="PrefferedCourse" class="form-control" />
                            <span asp-validation-for="PrefferedCourse" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <label asp-for="UniversityPreference1" class="control-label"></label>
                            <input asp-for="UniversityPreference1" class="form-control" />
                            <span asp-validation-for="UniversityPreference1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <label asp-for="UniversityPreference2" class="control-label"></label>
                            <input asp-for="UniversityPreference2" class="form-control" />
                            <span asp-validation-for="UniversityPreference2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <label asp-for="CurrentAddress" class="control-label"></label>
                            <input asp-for="CurrentAddress" class="form-control" />
                            <span asp-validation-for="CurrentAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4" style="display:@(ViewBag.UserRole != "Counselor"?"": "none")">
                        <div class="col-md-4">
                            <label asp-for="VisaStatusId" class="control-label"></label>
                            <select asp-for="VisaStatusId" class="form-control" asp-items="ViewBag.VisaStatusId"></select>
                        </div>
                        <div class="col-md-4 feePaidDiv" style="display:@(Model.VisaStatusId >= 7? "": "none")">
                            <label asp-for="FeePaid" class="control-label"></label>
                            <input asp-for="FeePaid" class="form-control" readonly="@(ViewBag.RoleName == "Admin"? false: true)" />
                            <span asp-validation-for="FeePaid" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 feePaidDiv" style="display:@(Model.VisaStatusId >= 7? "": "none")">
                            <label asp-for="FeePaidHalf" class="control-label"></label>
                            <input asp-for="FeePaidHalf" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <label asp-for="Remarks" class="control-label"></label>
                            <textarea asp-for="Remarks" class="form-control"> </textarea>
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <label class="control-label"><strong><span id="attachDocumentSpan">@(Model.VisaStatusId == 9? "Attach Decision Document(s)": "Attach More File(s)")</span></strong></label>
                            <input class="form-control" type="file" name="files" accept="image/jpg, image/jpeg, application/pdf" multiple />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <section>
                                <hr>
                                <span class="text-danger">
                                    <em>Note: </em>
                                    <ul>
                                        <li>
                                            <strong>Delete attachment will save changes immediately</strong>
                                        </li>
                                        <li>
                                            <strong>Once you update enrollment with <em style="text-decoration: underline">Visa Decision</em> Status, all enrollment attachments will be deleted except <em style="text-decoration: underline">Decision Documents</em></strong>
                                        </li>
                                    </ul>
                                </span>
                                <div>
                                    <table class="table table-responsive-sm table-bordered">
                                        <tr>
                                            <th>Attached Documents</th>
                                            <th>Uploaded On</th>
                                            <th>Actions</th>
                                        </tr>
                                        @if (Model.EnrollmentAttachedDocuments.Any())
                                        {
                                            @foreach (var documentName in Model.EnrollmentAttachedDocuments)
                                            {
                                                <tr>
                                                    <td>@documentName.Name.Split(new string[] { "10___01" }, System.StringSplitOptions.RemoveEmptyEntries)[1]</td>
                                                    <td>@documentName.Name.Split(new string[] { "__TS__" }, System.StringSplitOptions.RemoveEmptyEntries)[0].Replace("__SPC", " ").Replace("__COL", ":")</td>
                                                    <td>
                                                        <a class="btn btn-sm btn-primary" target="_blank" href="~/enrollmentDocuments/@documentName.Name">View</a>
                                                        | <a class="btn btn-sm btn-primary" download="" href="~/enrollmentDocuments/@documentName.Name">Download</a>
                                                        | <a class="btn btn-sm btn-danger" href="@Url.Action("DeleteEnrollmentDocument","Enrollments",new { docName=documentName.Name, enrollmentId = Model.Id})">Delete</a>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="3" class="text-center">No document attached with this enrollment yet</td>
                                            </tr>
                                        }
                                    </table>

                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row justify-content-start mt-4">
                        <div class="col">
                            <input type="submit" value="Update" class="btn btn-primary" />
                            @Html.ActionLink("Cancel", "Index", "Enrollments", null, new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#VisaStatusId").change(function (e) {
                if (e.target.value === '9') {
                    $('#attachDocumentSpan').text("Attach Decision Document(s)");
                    $('#attachDocumentSpan').css('color', "green");
                }
                else {
                    $('#attachDocumentSpan').text("Attach More File(s)");
                    $('#attachDocumentSpan').css('color', "black");
                }
                if (parseInt(e.target.value) > 6) {
                    $('.feePaidDiv').css('display', 'block');
                }
                else {
                    $('.feePaidDiv').css('display', 'none');
                }

            });

            $('#FeePaid').on('keyup blur', function (e) {
                var halfFee = parseFloat(e.target.value) / 2;
                $('#FeePaidHalf').val(halfFee === NaN ? 0 : halfFee);
            });
        });
    </script>
}
