@model IEnumerable<VisaTracking.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h2>Enrollments</h2>
<div class="row">
    <div class="col-1">
        @Html.ActionLink("+", "Create", "Enrollments", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-2">
        @{
            if (ViewBag.IsShowClosed)
            {
                @Html.ActionLink("Show In Progress", "Index", "Enrollments", new { IsShowClosed = false }, new { @class = "btn btn-primary" })
            }
            else
            {
                @Html.ActionLink("Show Closed", "Index", "Enrollments", new { IsShowClosed = true }, new { @class = "btn btn-danger" })
            }
        }

    </div>
</div>
<br />
<div class="row text-center">
    @if (TempData["SuccessMessage"] != null)
    {
        <span class="alert alert-success">@TempData["SuccessMessage"]</span>
    }
</div>
<table class="table" id="enrollments">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNICNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplyForCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradesObtained)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrefferedCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisaStatus)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNICNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplyForCountry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradesObtained)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrefferedCourse)
                </td>
                <td style="color:@(item.VisaStatusId == 9? "green": "black")">
                    <strong>@Html.DisplayFor(modelItem => item.VisaStatus.Status)</strong>
                </td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a style="display:@(item.VisaStatusId == 9? "none": "")" class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a style="display:@(item.VisaStatusId == 9? "none": "")" class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    $(document).ready(function () {
        $('#enrollments').DataTable();
    });
</script>