@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <img src="~/profileImages/@(ViewBag.ProfilePicture ?? "avatar.jfif" )"
             class="rounded-circle"
             height="150" width="150"
             asp-append-version="true" />
        <br />
        <strong>@ViewBag.RoleName</strong>
        <h1 class="display-4">Welcome @User.Identity.Name.Split("@")[0]</h1>
        <hr />

        @{

            if (ViewBag.RoleName == "Super Admin")
            {
                <div class="col-md-12">
                    @Html.ActionLink("Users", "UsersList", "Administration", null, new { @class = "btn btn-sm btn-primary col-md-2" })

                    @Html.ActionLink("Roles", "RolesList", "Administration", null, new { @class = "btn btn-sm btn-primary col-md-2" })

                    @Html.ActionLink("Enrollments", "Index", "Enrollments", null, new { @class = "btn btn-sm btn-primary col-md-2" })
                </div>
            }
            else
            {
                <div class="col-md-12">
                    @Html.ActionLink("Enrollments", "Index", "Enrollments", null, new { @class = "btn btn-sm btn-primary col-md-2" })
                </div>
            }
        }


    </div>